* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Inter", "sans-serif";
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root { 
    font-family: "InterVariable", "sans-serif"; 
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #09090b; 
  color: #a1a1aa; 
}
/* ---------- Layout Container ---------- */
.layout__container {
  display: flex;
  gap: 1rem;
  background-color: #09090b;
  max-width: 84rem;
  min-height: 100vh;
  margin: auto;
  position: relative;
} 
/* ---------- Header Section ---------- */
header {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  top: 0;
  max-height: 100vh;
  padding: 6rem 0 6rem 3rem;
  position: sticky;
}
/* ---------- Main Section ---------- */
main {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  padding: 0 3rem 0 0;
}
.section__title {
  display: none;
}
/* ----- Header Section ----- */
.header__container {
  margin-bottom: 4rem;
}
.header__container > h1 {
  color: #ffffff;
  font-size: 3rem;
}
.header__container > h2 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0.5rem;
}
.header__container > p {
  line-height: 1.5rem;
  margin-top: 1rem;
}
nav {
  border-left: 0.1rem solid rgb(45, 45, 45);
  margin-bottom: 4rem;
  padding: 0 0 0 1rem;
}
/* Top navbar */
nav > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}
nav > ul > li > a {
  display: flex;
  align-items: center;
  color: #a1a1aa;
  width: 3.5rem;
  position: relative;
}
nav > ul > li > a:hover {
  color: #ffffff;
}
nav > ul > li > a span {
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 1rem;
  left: 100%;
  padding-left: 1rem;
  transform: translateX(-2rem);
  transition: 0.25s ease;
  position: absolute;
}
nav > ul > li > a:hover span {
  transform: translateX(0);
}
/* Bottom navbar */
nav:nth-child(3) {
  margin: auto 0 0 0;
}
nav:nth-child(3) > nav > ul > li span {
  transform: translateX(0);
}
li.active a span {
  color: #ffffff;
  transform: translateX(0);
}
li.active a svg {
  color: #ffffff;
}
/* ----- About Section ----- */
#about {
  padding-top: 6.3rem;
}
.about__card {
  border-left: 0.1rem solid rgb(45, 45, 45);
  padding: 0 0 0 1rem;
}
.about__card p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
.about__card p:nth-child(4) {
  margin-bottom: 0;
}
.emphasis {
  color: white;
}
/* ----- Project Section ----- */
#projects {
  padding-top: 6.7rem;
}
.projects__card__containers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects__card {
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid rgb(45, 45, 45);
  overflow: hidden;
  position: relative;
}
.projects__card__info {
  flex: 1;
  padding: 1rem 0 0 1rem;
}
.projects__card__info > h3 {
  color: #ffffff;
  font-weight: normal;
}
.projects__card__info > p {
  padding: 0.5rem 0 1rem 0;
}
.projects__card__img {
  flex: 1;
}
.projects__card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects__card__img__links {
  display: flex;
  gap: 1rem;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
  position: absolute;
}
.projects__card__img__links > a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #a1a1aa;
  text-decoration: none;
}
.projects__card__img__links> a:hover {
  color: #000000;
}
/* ----- Skills Section ----- */
#skills {
  padding-top: 6.7rem;
}
.skills__card__containers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.skills__card {
  color: #ffffff;
  border-radius: 1rem;
  border: 0.1rem solid rgb(45, 45, 45);
  padding: 1rem 1rem 0 1rem;
  line-height: 1.5rem;
}
.skills__card > h3 {
  font-weight: normal;
}
.skills__card > p {
  color: #a1a1aa;
  padding: 0.5rem 0 1rem 0;
}
/* Tech stack icons */
.technologies__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0 0 1rem 0;
  line-height: 0;
}
.technologies__container img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  position: relative;
}
.technologies__tag {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);  
  border-radius: 0.5rem;
  padding: 0.3rem;
}
/* ----- Contact Section ----- */
.contact__card__containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 6.5rem 0;
}
.contact__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ffffff;
  border-radius: 1rem;
  border: 0.1rem solid rgb(45, 45, 45);
  padding: 1rem;
  line-height: 1.5rem;
}
.contact__card__title {
  display: flex;
  justify-content: space-between;
}
.contact__card__title > h3 {
  font-weight: normal;
  padding: 0;
}
.contact__card__title > div {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #a1a1aa;
  font-size: 1.2rem;
  font-weight: normal;
}
/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
textarea {
  background-color: #ffffff;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
}
textarea {
  width: 100%;
  height: 12rem;
  resize: none;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.2rem;
  font-weight: normal;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  outline: none;
  transition: 0.3s ease 0s;
  cursor: pointer;
}
button:hover {
  transform: scaleX(1.01);
}
button:active {
  transform: scaleX(1.00);
}
footer {
  align-self: flex-end;
  margin-top: 7rem;
}
@media (max-width: 61.25rem) {
  /* ---------- Layout Container ---------- */
  .layout__container {
    flex-direction: column;
  }
  /* ---------- Header Section ---------- */
  header {
    padding: 3rem 3rem 0 3rem;
    position: static;
  }
  .header__container {
    margin-bottom: 0;
  }
  /* ---------- Main Section ---------- */
  main {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    padding: 0 3rem;
  }
  .section__title {
    display: block;
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  /* ----- Header Section ----- */
  nav {
    display: none; 
  }
  /* ----- Projects Section ----- */
  .projects__card {
    flex-direction: column-reverse;
    gap: 0;
  }
  .projects__card__img {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .projects__card__img__links {
    gap: auto;
  }
  /* ----- Contact Section ----- */
  #contact > h2 {
    padding-top: 6.5rem;
  }
  .contact__card__containers {
    height: 85vh;
    padding-top: 0;
    padding-bottom: 1rem;
  }
}
@media (max-width: 30rem) {
  /* ---------- Header Section ---------- */
  header {
    padding: 3rem 1rem 0 1rem;
  }
  /* ---------- Main Section ---------- */
  main {
    padding: 0 1rem;
  }
  /* ----- Contact Section ----- */
  .contact__card__title > h3 > span,
  .contact__card__title > div > p > span {
    display: none;
  }
}
