* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Inter", "sans-serif";
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root { 
    font-family: "InterVariable", "sans-serif"; 
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0f172a;
  color: #94a3b8;
}
/* ---------- Layout ---------- */
.layout__container {
  display: flex;
  gap: 1rem;
  max-width: 60vw;
  min-height: 100vh;
  margin: auto;
} 
/* ---------- Right Header Section ---------- */
header {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  top: 0;
  max-height: 100vh;
  padding: 6rem 0;
  position: sticky;
}
/* ---------- Left Main Section ---------- */
main {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}
