* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Inter", "sans-serif";
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root { 
    font-family: "InterVariable", "sans-serif"; 
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #09090b; 
  color: #a1a1aa; 
}
/* ---------- Background tsparticles ---------- */
#tsparticles {
  top: 0;
  left: 0;
  width: 14.75%;
  height: 100%;
  position: absolute;
  z-index: -2;
}
/* ---------- Layout Container ---------- */
.layout__container {
  display: flex;
  gap: 1rem;
  background-color: #09090b;
  max-width: 84rem;
  min-height: 100vh;
  margin: auto;
  position: relative;
} 
/* ---------- Header Section ---------- */
header {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  top: 0;
  max-height: 100vh;
  padding: 6rem 0 6rem 3rem;
  position: sticky;
}
/* ---------- Main Section ---------- */
main {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  padding: 0 3rem 0 0;
}
/* ----- Header Section ----- */
.header__container {
  margin-bottom: 4rem;
}
.header__container > h1 {
  color: white;
  font-size: 3rem;
}
.header__container > h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0.5rem;
}
.header__container > p {
  line-height: 1.5rem;
  margin-top: 1rem;
}
/* Top navbar */
nav > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}
nav > ul > li > a {
  display: flex;
  align-items: center;
  color: #a1a1aa;
  width: 3.5rem;
  position: relative;
}
nav > ul > li > a:hover {
  color: white;
}
nav > ul > li > a span {
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 1rem;
  left: 100%;
  padding-left: 2rem;
  transform: translateX(-2rem);
  transition: 0.25s ease;
  position: absolute;
}
nav > ul > li > a:hover span {
  transform: translateX(0);
}
/* Bottom navbar */
nav:nth-child(3) {
  margin-top: auto;
}
nav:nth-child(3) > nav > ul > li span {
  transform: translateX(0);
}
li.active a span {
  color: white;
  transform: translateX(0);
}
li.active a svg {
  color: white;
}
/* ----- About Section ----- */
#about {
  padding-top: 6.3rem;
}
#about p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
#about p:nth-child(4) {
  margin-bottom: 0;
}
.emphasis {
  color: white;
}
/* ----- Project Section ----- */
#projects {
  display: flex;
  flex-direction: column;
  padding-top: 6.7rem;
  gap: 2rem;
}
.projects__card {
  display: flex;
  gap: 1rem;
  background-color: hsla(0, 0%, 100%, .1);
  border-radius: 1rem;
  border: 0.1rem solid rgb(70, 70, 70);
  overflow: hidden;
  position: relative;
}
.projects__card > img {
  flex: 1;
  width: 10%;
  margin: 1rem 0 0 0;
  object-fit: cover;
}
.projects__card__info {
  flex: 1;
  padding: 1rem 0 0 1rem;
}
.projects__card__info > p {
  padding: 0.5rem 0;
}
.projects__card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__card__title > h3 {
  color: white;
  font-weight: normal;
}
.projects__card__title > div {
  display: flex;
  gap: 1rem;
}
.projects__card__title > div > a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #a1a1aa;
  text-decoration: none;
}
.projects__card__title > div > a:hover {
  color: white;
}
/* ----- Skills Section ----- */
#skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 6.7rem;
}
.skills__card {
  color: white;
  background-color: hsla(0, 0%, 100%, .1);
  border-radius: 1rem;
  border: 0.1rem solid rgb(70, 70, 70);
  padding: 1rem 1rem 0 1rem;
  line-height: 1.5rem;
}
.skills__card > h3 {
  font-weight: normal;
}
.skills__card > p {
  color: hsla(0, 0%, 100%, .7);
  padding: 0.5rem 0;
}
/* Tech stack icons */
.technologies__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0 0 1rem 0;
}
.technologies__container img {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  position: relative;
}
/* Tooltips */
.tooltip {
  display: inline-block;
  position: relative;
}
.tooltip__text {
  background-color: #0ea5e9;
  color: white;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.5rem;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  padding: 0.5rem;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.tooltip__text::after {
  content: "";
  border: 0.5rem solid;
  border-color: #0ea5e9 transparent transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.tooltip:hover .tooltip__text {
  opacity: 1;
}
/* ----- Contact Section ----- */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 6.5rem 0;
}
.contact__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  background-color: hsla(0, 0%, 100%, .1);
  border-radius: 1rem;
  border: 0.1rem solid rgb(70, 70, 70);
  padding: 1rem;
  line-height: 1.5rem;
}
.contact__card__title {
  display: flex;
  justify-content: space-between;
}
.contact__card__title > h3 {
  font-weight: normal;
  padding: 0;
}
.contact__card__title > div {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #a1a1aa;
  font-size: 1.2rem;
  font-weight: normal;
}
/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
textarea {
  background-color: #e5e7eb;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
}
textarea {
  width: 100%;
  height: 12rem;
  resize: none;
}
footer {
  align-self: flex-end;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #e5e7eb;
  color: #000;
  font-size: 1.2rem;
  font-weight: normal;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  outline: none;
  transition: 0.3s ease 0s;
  cursor: pointer;
}
button:hover {
  background-color: #0ea5e9;
  color: #fff;
  transform: scale(1.02);
}
button:active {
  transform: scale(1.00);
}
@media (max-width: 61.25rem) {
  /* ---------- Layout Container ---------- */
  .layout__container {
    flex-direction: column;
  }
  /* ---------- Header Section ---------- */
  header {
    padding: 3rem 3rem 0 3rem;
    position: static;
  }
  /* ---------- Main Section ---------- */
  main {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    padding: 0 3rem;
  }
  /* ----- Header Section ----- */
  nav {
    display: none; 
  }
}
